.services {
  padding-top: 7.75rem;
  padding-bottom: 5.25rem;
}
.container {
}

.head_container {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  text-align: center;
  width: 100%;
}
.head_container .p_heading {
  margin-bottom: 4rem;
}
.head_container .h2_heading {
  margin-bottom: 0.75rem;
}

.row {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}
.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.text_box {
  margin-bottom: 3rem;
  padding: 3.5rem 1rem 2.125rem 1rem;
  border: 1px solid #cfd7de;
}
.text_box h4 {
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}
.text_box p {
  margin-bottom: 1rem;
}
.icons_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.icons_container > * {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 5px;
}
.icons_container span {
  text-align: center;
}

.html {
  color: white;
  background-color: rgb(240, 120, 76);
}
.css {
  color: white;
  background-color: hsl(209, 74%, 62%);
}
.js {
  background-color: black;
  color: rgb(255, 187, 0);
}
.react {
  background-color: rgb(46, 43, 43);
  color: rgb(54, 116, 167);
}

/*************************/
/*     Media Queries     */
/*************************/
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .column {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 1200px) {
}
