.s_wrapper {
  padding-top: 2.5rem;
  padding-bottom: 5.25rem;
  background-color: #f7f9fb;
}

.themeMode {
  background-color: #272c35;
  background-color: #2b303b;
  background-color: #32363c;
  background-color: #1e1f23;
}
.container {
  margin: auto;
  padding: 0 20px;
  width: 100%;
}
.section_heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.divider {
  margin: 1.5rem 0 !important;
}

/*************************/
/*     Media Queries     */
/*************************/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .section_heading {
    font-size: 2.75rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}
