.s_about {
  padding-top: 2.5rem;
  padding-bottom: 5.25rem;
  background-color: #f7f9fb;
}

.themeMode {
  background-color: #272c35;
  background-color: #2b303b;
  background-color: #32363c;
  background-color: #1e1f23;
}
/* .container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
} */
.section_heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.divider {
  margin: 1.5rem 0 !important;
  /* border-color: black !important; */
  /* border-color: var(--text-color)!important; */
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.row h3 {
  padding: 24px 0;
  font-size: 1.5rem;
}
.aboutme_p {
  margin-bottom: 1em;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  vertical-align: top;
}
.caption_top {
  caption-side: top;
}
.table_row {
  border-bottom: 1px solid gray;
}
.cell_wrapper {
  padding: 0.5em;
  text-align: left;
}
.skills_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skill {
  text-align: center;
  margin: auto;
  padding: 0.5em;
}
.service_wrapper {
  padding: 1.5em 0;
}
.service_title {
  padding: 8px 0;
  border-bottom: 4px solid var(--clr-border);
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}
.service_desc {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  margin-bottom: 1rem;
}

/*************************/
/*     Media Queries     */
/*************************/
@media (min-width: 768px) {
  .section_heading {
    font-size: 2.75rem;
  }
}
@media (min-width: 1024px) {
  .row {
    flex-direction: row;
  }
  .row h3 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .row .col {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
}
