.header {
  color: white;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../../assets/image_background.png) center center no-repeat;
  background-size: cover;
  background-position: bottom right;
  text-align: center;
  display: block;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text_container {
  text-align: left;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .h1_large {
  margin-bottom: 1.75rem;
  font-weight: 700;
  font-size: 1.35rem;
  line-height: 1.5;
  font-family: "Poppins";
  display: block;
}

.description {
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 490px;
  line-height: 1.5;
}

.home_btn_group {
  display: flex;
}

.btn_solid_lg {
  padding: 1.5rem 2.5rem;
  background-color: var(--clr-primary-light);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  z-index: 1;
}
.btn_solid_lg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-primary-light);
  background: linear-gradient(
    90deg,
    rgb(223, 225, 249) 0%,
    rgba(223, 225, 249, 1) 100%
  );
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1.2s;
}

.btn_solid_lg:hover:before {
  transform: rotate(0deg);
}

.btn_solid_lg:hover {
  color: #333 !important;
  transition: color 1.3s;
}

.header .btn_outline_lg {
  padding: 1.625rem 1.625rem 1.625rem 1.625rem;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

/*************************/
/*     Media Queries     */
/*************************/
@media (min-width: 640px) {
  .header {
    background-position: center;
  }
}
@media (min-width: 768px) {
  .header {
    padding-top: 11rem;
    padding-bottom: 9rem;
  }
}
@media (min-width: 960px) {
  .header {
    padding-top: 15rem;
    padding-bottom: 14rem;
    text-align: left;
  }
  .header .h1_large {
    font-size: 2rem;
  }

  .description {
    font-size: 1.125rem;
    margin-bottom: 1.2rem;
  }
}
