.s_contact {
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding: 0 15px;
  margin: 10px 0;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col_lg_12 {
  position: relative;
  width: 100%;
}

.p_heading {
  margin-bottom: 4rem;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 1rem;
  line-height: 1.625;
}
form {
  display: block;
}
.form_group {
  position: relative;
  margin-bottom: 1.25rem;
}
.submit_button {
  padding: 1rem 2rem;
  background-color: var(--clr-primary);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  z-index: 1;
}
.submit_button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--clr-primary);
  background: linear-gradient(
    90deg,
    var(--clr-primary-hover) 0%,
    var(--clr-primary-hover) 100%
  );
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1.2s;
}
.submit_button:hover:before {
  transform: rotate(0deg);
}
.form_1 address {
  margin-top: 10px;
}
.form_control_input,
.form_control_select {
  display: block;
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 0.125rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  background-color: #ffffff;
  color: #4d5055;
  font-size: 0.875rem;
  line-height: 1.875rem;
  transition: all 0.2s;
}
.label_control {
  position: absolute;
  top: 0.875rem;
  left: 1.5rem;
  color: #7d838a;
  opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375rem;
  cursor: text;
  transition: all 0.2s ease;
}
/* Text Area */
.form_control_textarea {
  display: block;
  width: 100%;
  height: 14rem;
  padding-top: 1.5rem;
  padding-left: 1.3125rem;
  border: 1px solid #cbcbd1;
  background-color: #ffffff;
  color: #4d5055;
  font-size: 0.875rem;
  line-height: 1.5rem;
  transition: all 0.2s;
}
/*************************/
/*     Media Queries     */
/*************************/
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .container {
    display: flex;
  }
  .row {
    justify-content: center;
    width: 50%;
  }
  .col_lg_12 {
    margin: 0 10px;
  }
  .form_1 .s_contact {
    display: block;
    text-align: left;
    margin-left: 10px;
  }
  .s_contact h2 {
    padding: 0 15px 40px 15px;
  }
  .form_1 .p_heading {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .form_1 .p_heading {
    font-size: 2rem;
    line-height: 1.304;
    text-align: left;
  }
  .form_1 address {
    font-size: 1.75rem;
    margin-top: 50px;
  }
}
