.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 3%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

/* .active_scroll_dark {
  background-color: var(--bg-gray-dark);
}
.active_scroll_light {
  background-color: var(--bg-gray-light);
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  background-color: inherit;
}
.logoWrap {
  width: 32px;
}

.logoWrap img {
  max-width: 100%;
  border-radius: 100%;
}

.navLinks_theme_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.theme_toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .theme_toggler_icon,
.navbar_toggler_icon {
  color: inherit;
} */

.navbar_toggler {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navWrapper_mobile {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3rem;
}

.navbar_menu {
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* margin: auto; */
  /* align-items: center; */
}
.nav_item {
  font-size: 2rem;
}

.navWrapper_desktop {
  display: none;
}

@media (min-width: 1024px) {
  .container {
    justify-content: space-around;
  }
  .navWrapper_mobile,
  .navbar_toggler {
    display: none;
  }
  .navWrapper_desktop {
    display: flex;
    flex-basis: 70%;
  }
  .navbar_menu_desktop {
    display: flex;
    align-items: center;
    gap: 3em;
  }
  .nav_item {
    font-size: 1rem;
  }
}
