/* Remove all predefined styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Set box-sizing property for specific elements */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Themes */
.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #333;
  color: white;
}

/* Custom Styles */
div,
button {
  background-color: inherit;
  color: inherit;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
